<div class="container">
  <div class="row">
    <div class="col-12">
      <button class="btn btn-primary btnDet" (click)="toggleSecret()">Show details</button>
    </div>
    <div class="alert alert-dark btnDet col-12">
      <span  *ngIf="!secret">tajne/poufne</span>
      &nbsp;
    </div>
    <div class="col-6">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">&nbsp;</th>
            <th scope="col">date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let click of clicks; index as i" [ngClass]="{'table-primary white-text': i>3 }">
            <td scope = "col">{{ click.order }}</td>
            <td>you clicked the button!</td>
            <td>{{ click.date.getFullYear() + '.' + click.date.getMonth() + click.date.getDay() + '    ' + click.date.getHours() + ':' + click.date.getMinutes() + ':' + click.date.getSeconds() }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
